body {
  height: 100%;
  margin: 0;
}

.full-vertical-div{
  margin-left: 100px;
  margin-right: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  display: grid;
  height: 100%;
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  background-color: rgb(233, 157, 119);
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 15px 30px;
}

.website-icon button{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-location-bars input{
  height: 35px;
  border-radius: 10px;
  border: solid;
  max-width: 100%;
  position: relative;
}

.search-location-bars button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
}

.login-signup button{
  position: relative;
  max-width: 100%;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #c2452d;
}
.login-signup button:hover{
  background-color: white;
  color: #c2452d;
  transition: 0.3s;
}
.login-signup button:active{
  background-color: rgb(141, 27, 5);
  color: white;
}

/* BURGER  */

.openbtn{
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.burger-links {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(239, 121, 61);;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.burger-links a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.burger-links a:hover {
  color: #f1f1f1;
}

.burger-links .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .burger-links {padding-top: 15px;}
  .burger-links a {font-size: 18px;}
}